body {
  background-color: teal;
}
h1 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.img_1 {

  width: 250px;
  margin: 10px;
  border-color: yellow;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.img_2 {
  width: 250px;
  margin: 10px;
  border-color: red;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.img_3 {
  width: 250px;
  margin: 10px;
  border-color: green;
  border-width: 4px;
  border-style: solid;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

p{
  display: inline;
  border: 4px;
  border-style: solid;
  border-color: black;
  font-size: 32px;
  font-color: black;
  text-align: center;
  margin-left: 300px;
  margin-right: auto;
}

.p1{
  display: inline;
  border: 4px;
  border-style: solid;
  border-color: black;
  font-size: 32px;
  font-color: black;
  text-align: center;
  margin-left: 400px;
  margin-right: auto;
}

.p2{
  display: inline;
  border: 4px;
  border-style: solid;
  border-color: black;
  font-size: 32px;
  font-color: black;
  text-align: center;
  margin-left: 400px;
  margin-right: auto;
}

.p3{
  display: inline;
  border: 4px;
  border-style: solid;
  border-color: black;
  font-size: 32px;
  font-color: black;
  text-align: center;
  margin-left: 600px;
  margin-right: auto;
  
}
